// LESS stuff

@base_font_size: 16;

@highlight: #fc6;
@button: #c00;
@head: #333;

// mixins

.fs(@px:12,@base: @base_font_size) {
    @var: (@px/@base) * 100%;
    font-size: @var;
}
.bb(@params: border-box) {
    box-sizing: @params;
    -moz-box-sizing: @params;
}

// real CSS

body {
    font-family: sans-serif;
    font-size: 1em;
    margin: 10px;
}

div.head {
    position: absolute;
    top: 10px;
    background-color: fadeout(@head,60);
    padding: 10px;

    h1, h2 {
        margin: 0;
        color: #fff;
        .fs(18);
    }
    h2 {
        .fs(14);
    }
}

body.js {
    ul.origin {
        display: none;
    }
}

div.controller {

    overflow: hidden;
    width: 800px;
    height: 125px;
    position: relative;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        position: absolute;
    }
    li {

        float: left;
        width: 150px;
        cursor: pointer;

        .bb;
        
        &.selected {
            background-color: @highlight;
        }

        img {
            margin: 5px;
        }
        span {
            .fs(12);
            display: block;
            padding: 0 5px 5px;
        }
    }

    button {
        position: absolute;
        top: 0;

        width: 20px;
        height: 125px;
        padding: 0;

        background-color: fadeout(@button,50);
        border: none;

        cursor: pointer;

        &:hover {
            background-color: fadeout(@button,20);
        }

        &[data-direction=left] {
            left: 0;
        }
        &[data-direction=right] {
            right: 0;
        }

        &[disabled] {
            background-color: fadeout(@head,80);
        }
    }
}

button.more {
    margin: 1em 0;
}

small {
    display: block;
    .fs(12);
    color: @head;
}