// LESS stuff

@grid_width: 945px;
@base_font_size: 16;

@highlight: #ff9;

@font_stack: Arial, sans-serif;

// mixins

.fs(@px:12,@base: @base_font_size) {
    @var: (@px/@base) * 100%;
    font-size: @var;
}
.w(@px:100,@w: @grid_width) {
    @var: (@px/@w) * 100%;
    width: @var;
}
.m(@t:0,@r:0,@b:0,@l:0,@w: @grid_width) {
    @tvar: (@t/@w) * 100%;
    @rvar: (@r/@w) * 100%;
    @bvar: (@b/@w) * 100%;
    @lvar: (@l/@w) * 100%;
    margin: @tvar @rvar @bvar @lvar;
}

.bb(@params: border-box) {
    box-sizing: @params;
    -moz-box-sizing: @params;
}

.br(@r: 5px) {
    border-radius: @r;
    -webkit-border-radius: @r;
    -moz-border-radius: @r;
}

// real CSS

body {
    font-family: sans-serif;
    font-size: 1em;
}

ul.gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
        display: none;

        &.selected {
            display: block;
        }
    }

}

div.controller {

    overflow: hidden;
    width: 800px;
    height: 125px;
    position: relative;

    background-color: rgba(255,0,0,0.1);

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        position: absolute;
    }
    li {

        float: left;
        width: 150px;
        padding: 5px;
        cursor: pointer;

        .bb;
        
        &.selected {
            background-color: @highlight;
        }

        span {
            .fs(12);
        }
    }

    button {
        position: absolute;
        top: 0;

        &[data-direction=left] {
            left: 0;
        }
        &[data-direction=right] {
            right: 0;
        }
    }
}